.container {
  width: 100%;
  height: 100vh;
  background-size: contain;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
  overflow: auto;
  background-image: url("../../assets/images/MealList/bg1.jpg");
}

.container .main {
  min-height: 100%;
  width: 95%;
  margin: 0 auto;
  position: relative;
  border-radius: 0;
  background-color: rgba(245, 222, 179, 0.8);
}

.container .main .searchBar {
  position: absolute;
  top: 15%;
  left: 50%;
  width: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  padding: 20px 0;
}

.container .main .searchBar * {
  border: 0;
  padding: 10px;
}

.container .main .searchBar input {
  border-radius: 4px 0 0 4px;
  font-size: 1.5em;
}

.container .main .searchBar button {
  font-size: 1.5em;
  color: #ffff;
  border-radius: 0 4px 4px 0;
  background-color: #e5001c;
}

.container .main > .panda {
  position: absolute;
  width: 5%;
  right: 5%;
  top: 50px;
  display: inline-block;
  padding-bottom: 10px;
}

.container .main > .panda:nth-child(3) {
  top: 60px;
  right: 5.2%;
}

.container .main > img:first-child {
  position: relative;
  width: 10%;
  top: 10px;
  left: 5%;
  display: inline-block;
  padding-bottom: 100px;
}

.container .main div[id='mealList'] {
  position: relative;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  width: 90%;
  margin: auto;
}

.container .main div[id='mealList'] > div {
  position: relative;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  overflow: hidden;
}

.container .main div[id='mealList'] > div:nth-child(odd) {
  -webkit-animation-name: slideInLeft;
          animation-name: slideInLeft;
}

.container .main div[id='mealList'] > div:nth-child(even) {
  -webkit-animation-name: slideInRight;
          animation-name: slideInRight;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slideInRight {
  0% {
    left: 300%;
  }
  100% {
    left: 0;
  }
}

@keyframes slideInRight {
  0% {
    left: 300%;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes slideInLeft {
  0% {
    right: 300%;
  }
  100% {
    right: 0;
  }
}

@keyframes slideInLeft {
  0% {
    right: 300%;
  }
  100% {
    right: 0;
  }
}

@media only screen and (max-width: 1600px) {
  .container .main .searchBar {
    top: 10%;
  }
  .container .main div[id='mealList'] {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1200px) {
  .container .main .searchBar {
    top: 3%;
    left: 55%;
    width: 60%;
  }
  .container .main div[id='mealList'] {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1000px) {
  .container .main .searchBar {
    position: static;
    top: 0;
    left: 0;
    margin: auto;
    width: 95%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .container .main .searchBar button {
    padding: 5px;
  }
  .container .main > .panda {
    width: 10%;
    top: 25px;
  }
  .container .main > .panda:nth-child(3) {
    top: 35px;
  }
  .container .main > img:first-child {
    width: 20%;
    padding-bottom: 0;
  }
  .container .main div[id='mealList'] {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 400px) {
  .container .main {
    width: 100%;
  }
  .container .main .searchBar {
    position: static;
    width: 90%;
    padding: 20px 0;
  }
  .container .main .searchBar input {
    font-size: 0.8em;
  }
  .container .main .searchBar button {
    font-size: 1em;
    padding: 0;
  }
  .container .main > .panda {
    top: 10px;
  }
  .container .main > .panda:nth-child(3) {
    top: 20px;
  }
  .container .main > img:first-child {
    width: 20%;
  }
  .container .main > .panda {
    width: 15%;
  }
  .container .main div[id='mealList'] {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=MealList.css.map */