.withBg {
  width: 100%;
  height: 100vh;
  background-size: contain;
  overflow: auto;
  background-image: url("../../assets/images/Cart/bg.jpg");
  background-repeat: repeat;
}

.container {
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: rgba(211, 211, 211, 0.8);
  border-radius: 0;
}

.container > div {
  padding: 10% 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  width: 90%;
  margin: auto;
}

.container > div .list {
  background-color: #e5001c;
  padding: 25px 50px 25px 0;
}

.container > div .list .total {
  color: white;
  font-size: 2em;
  padding-top: 30px;
  float: right;
  display: block;
}

.container > div .list .total small {
  color: wheat;
}

.container > div .list div {
  position: relative;
  padding: 10px 0;
  overflow: hidden;
}

.container > div .list div p {
  position: relative;
  -webkit-animation: slideIn 1s ease-out;
          animation: slideIn 1s ease-out;
  border-radius: 0;
  padding: 20px;
  background-color: wheat;
}

.container > div .list div p strong {
  font-size: 20px;
  font-weight: bold;
}

.container > div .list div p span {
  padding: 0 20px 0 0;
  font-size: 12px;
}

.container > div .list div p small {
  font-size: 1.2em;
  padding: 0 20px;
  font-weight: normal;
}

.container > div .list div p a {
  font-weight: bold;
  float: right;
  text-decoration: none;
  color: #890011;
  font-size: 1.2em;
}

.container > div .list div p a:hover {
  color: white;
}

.container > div .desc {
  margin-left: 50px;
}

.container > div .desc img {
  max-width: 100%;
}

.container > div .desc button {
  margin: 30px auto;
  width: 80%;
  font-size: 1.5em;
  background-color: #e5001c;
  color: gold;
}

@-webkit-keyframes slideIn {
  0% {
    left: -350px;
  }
  100% {
    left: 0;
  }
}

@keyframes slideIn {
  0% {
    left: -350px;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1200px) {
  .container > div {
    grid-row-gap: 20px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .container > div .desc {
    width: 80%;
    margin: auto;
  }
  .container > div .desc img {
    max-width: 50%;
    float: left;
  }
  .container > div .desc button {
    float: right;
    margin-left: 20px;
    width: 40%;
  }
}

@media only screen and (max-width: 800px) {
  .container > div {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .container > div .desc {
    width: 80%;
    margin: auto;
  }
  .container > div .desc img {
    max-width: 50%;
    float: left;
  }
  .container > div .desc button {
    float: right;
    font-size: 1.2em;
    width: 40%;
  }
}

@media only screen and (max-width: 400px) {
  .container > div {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .container > div .list {
    padding-right: 10px;
  }
  .container > div .list div p strong {
    font-size: 10px;
    padding: 0 3px;
    margin: 0;
  }
  .container > div .list div p span {
    font-size: 10px;
    padding: 0 3px;
    margin: 0;
  }
  .container > div .list div p small {
    font-size: 10px;
    padding: 0 3px;
    margin: 0;
  }
  .container > div .list div p a {
    font-size: 10px;
    padding: 0 3px;
    margin: 0;
  }
  .container > div .desc {
    width: 80%;
    margin: auto;
  }
  .container > div .desc img {
    max-width: 50%;
    float: left;
  }
  .container > div .desc button {
    float: none;
    font-size: 1.2em;
    width: 100%;
  }
}
/*# sourceMappingURL=CartStrip.css.map */