.container {
  z-index: 2;
  display: grid;
  grid-template-areas:
    'icon icon icon'
    'header header header ' 'h2 h2 h2' 'positionMap main main' 'contact main main';
  width: 80%;
  margin: auto;
  grid-gap: 5px 40px;
  text-align: center;
  .icon {
    width: 15%;
    position: relative;
    right: 7%;
    top: 5%;
    grid-area: icon;
  }
  .panda {
    z-index: 1;
    position: absolute;
    right: -1%;
    bottom: 0;
    width: 15%;
  }
  p {
    text-align: left;
  }
  h2 {
    grid-area: h2;
    padding-bottom: 50px;
    color: green;
  }
  .contact {
    grid-area: contact;

    p {
      font-size: 1.5em;
      img {
        width: 30px;
      }
      span {
        padding-left: 10px;
        position: relative;
      }
    }
  }
}
.container header {
  grid-area: header;
  font-size: 2em;
}
.positionMap {
  grid-area: positionMap;
  width: 20vw;
  height: 20vw;
}
.main {
  grid-area: main;
}

@media only screen and (max-width: 1500px) {
  .container {
    grid-column-gap: 10px;
    .contact {
      p {
        font-size: 1em;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    .icon {
      right: 0;
    }
    width: 90%;
    grid-column-gap: 0;
    .positionMap {
      width: 35vw;
      height: 35vw;
      margin-bottom: 20px;
    }
    grid-template-areas:
      'icon icon icon'
      'header header header ' 'h2 h2 h2' 'positionMap positionMap contact' 'main main main';
  }
}

@media only screen and (max-width: 600px) {
  .container {
    .icon {
      width: 20%;
    }
    header {
      h1 {
        font-size: 1.2em;
      }
    }
    h2 {
      font-size: 1.1em;
      padding-bottom: 20px;
    }
    .main {
      text-align: left;
    }
    .icon {
      right: 0;
    }
    width: 90%;
    grid-column-gap: 0;
    .positionMap {
      width: 80vw;
      height: 80vw;

      margin: 10px auto;
    }
    .contact {
      padding: 5px 0 20px 0;
    }
    grid-template-areas:
      'icon icon icon'
      'header header header '
      'h2 h2 h2'
      'main main main'
      'positionMap positionMap positionMap'
      'contact contact contact';
  }
}
