button {
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
  border: 0;
  outline: none;
}
button:active {
  filter: brightness(105%);
  font-weight: normal;
}
button.groupBtn {
  background-color: green;
  font-size: 1.5em;

  font-weight: normal;
  border-radius: 0;
  border: 0;
  color: white;
  border-right: 1px white solid;
}
button.groupBtn:disabled {
  cursor: not-allowed;

  color: grey;
}
button.groupBtn:first-child {
  border-radius: 4px 0 0 4px;
}

button.groupBtn:last-child {
  border-radius: 0 4px 4px 0;
}
