.openBtn {
  font-size: 30px;
  height: 80%;
  background-color: #9d0315;
  color: wheat;
  position: absolute;
  margin-top: 100px;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}

.container {
  border-radius: 0 4px 4px 0;
  width: 0;
  overflow: hidden;
  transition: 0.6s;
  height: 80%;
  margin-top: 100px;
  background-color: #9d0315;
  position: absolute;
  opacity: 0.95;
  z-index: 4;

  > a {
    cursor: pointer;
    color: wheat;
    font-weight: bold;
    font-size: 2.5em;
    position: absolute;
    right: 5px;
    z-index: 4;
    text-decoration: none;
  }

  .main {
    // display: none;
    padding-top: 50px;
    a {
      position: relative;
      text-decoration: none;
      color: white;
      cursor: pointer;
      p {
        img {
          width: 15%;
          position: relative;
          left: 20px;
        }
        font-size: 2em;
        font-weight: bold;
        padding: 10px 20px;
      }
      p:hover span:nth-child(2) {
        color: wheat;
      }
      span:first-child {
        color: wheat;
        transition: 1s;
        position: relative;
        left: -38px;
        transition: 0.5s;
      }
    }
    a:hover {
      span:first-child {
        left: 0px;
        display: inline-block;
      }
      span:nth-child(2) {
        padding-left: 10px;
      }
    }
  }
}

@media only screen and (max-width: 1800px) {
  .container {
    > a {
      font-size: 1.9em;
    }
    .main {
      a {
        p {
          font-size: 1.4em;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    > a {
      font-size: 1.7em;
    }
    .main {
      a {
        p {
          font-size: 1.2em;
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    > a {
      font-size: 1.8em;
    }
    .main {
      a {
        p {
          font-size: 1.3em;
        }
      }
    }
  }
}
