.container {
  width: 100%;
  height: 500px;
  margin: auto;
  background-color: #af191c;
  display: grid;

  grid-template-areas: 'image image' 'name name' 'rating rating';
  * {
    color: green;
    text-align: center;
  }
  > img {
    margin: 15px 0 20px 0;
    grid-area: image;
    width: 100%;
    height: 250px;
    border-radius: 0;
    max-height: 250px;

    cursor: pointer;
  }
  .spicePanel {
    border: 1px solid #af191c;
    border-top: 0;
    background-color: wheat;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 85%;
    grid-area: rating;
    display: grid;
    border-radius: 0 0 4px 4px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    img {
      width: 100%;
      display: block;
    }
  }
  .namePanel {
    border: 1px solid #af191c;

    grid-area: name;
    border-bottom: 1px solid green;
    width: 85%;
    margin: 0 auto;
    background-color: wheat;
    padding: 5px;
    text-align: end;
    p {
      border-radius: 4px 4px 0 0;
      text-align: center;

      font-size: 1.8em;
      width: 100%;
      cursor: pointer;
    }
    small {
      width: 100%;
      display: block;
      border-radius: 0;
      text-align: center;
      padding: 5px 0;
      font-size: 1.2em;
      cursor: pointer;
    }
  }
}
