.container {
  width: 95%;
  height: 100%;
  background-color: rgba(62, 60, 56, 0.8);
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .main {
    margin: auto;
    padding-top: 5%;
    height: 80%;
    a {
      cursor: pointer;
      color: wheat;
      font-weight: bold;
      font-size: 2.5em;
      padding-left: 5px;
      text-decoration: none;
    }
    a:hover {
      filter: brightness(150%);
    }
    img {
      max-width: 100%;
      max-height: 92%;
      display: block;
      margin: auto;
    }
  }
  .gallery {
    width: 40%;
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    img {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 400px) {
  .container {
    width: 100%;
    z-index: 3;
    .main {
      position: absolute;
      top: 50%;

      transform: translate(0, -50%);
      width: 100%;
    }
    .gallery {
      display: none;
    }
  }
}
